<section class="landing">
<div id="greeting">
	<h1>Welcome!</h1>
</div>
<div id="weatherInfo" class="container divHide">
	<div class="row">
		<div class="panel panel-default Panel">
			<div class="panel-body weatherInfo">
				<div class="shade">
					<div class="body">
						<div class="row">
							<div class="col-md-2">
								<h1>{{weather.main.temp - 273.15 | number:1}}<sup>o</sup></h1>
							</div>
							<div class="col-md-8">
								<h2>{{weather.name}}, {{weather.sys.country}}</h2>
							</div>
						</div>
						<div class="row">
						  <div class="col-sm-6 col-md-4 add-padding">
							<div class="thumbnail">
							  <div class="caption">
								<h3>Today</h3>
								<p class="date">{{Date | date}}</p>
								<p><img class="icon" src="{{icon}}" /></p>
							  </div>
							</div>
						  </div>
						   <div class="col-sm-6 col-md-4 add-padding">
							<div class="thumbnail">
							  <div class="caption">
								<h3>Humidity</h3>
								<h3 class="size-66">{{weather.main.humidity}} %</h3>
								<p></p>
							  </div>
							</div>
						  </div>
						   <div class="col-sm-6 col-md-4 add-padding">
							<div class="thumbnail">
							  <div class="caption">
								<h3>Clouds</h3>
								<h3 class="size-66">{{weather.weather[0].description}} </h3>
								<p></p>
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
</section>